node_modules/
node_modules
node_modules
node_modules/.cache/default-development/3.pack 
node_modules/ 
node_modules/.cache/default-development/14.pack 
node_modules/.cache/default-development/15.pack 
"node_modules/.cache/*" 
