@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Droid Sans", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui {
  font-family: "Droid Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
b,
span,
a,
img,
ul,
ol,
li,
table,
tr,
td,
th,
form,
input,
textarea,
button,
label,
select,
option,
nav,
footer,
header,
main {
  font-family: "Droid Sans", sans-serif !important;
}
